<title>{{ page.title }}</title>

<meta name="description" content="Basics of working with p5js at NYU IDM">
<meta name="keywords" content="creative, coding, nyu, tandon, idm, p5, p5.js">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/simplelightbox/simple-lightbox.min.css"> -->

<link href="https://fonts.googleapis.com/css?family=Raleway:400%7CSource+Code+Pro:400" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">

<!-- <base target="_blank"> -->
<!-- <script src="{{ site.baseurl }}/js/targets.js"></script> -->
{% if page.url != "/" %}
  <script src="{{ site.baseurl }}/js/editor-loader.js"></script>
  <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}
